<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <!--<add key="diffCommand" value="C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\Common7\IDE\CommonExtensions\Microsoft\TeamFoundation\Team Explorer\vsdiffmerge.exe ${Source} ${Result}"/>-->
    
    <!--
    <add key="diffCommand" value="C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\Common7\IDE\CommonExtensions\Microsoft\TeamFoundation\Team Explorer\vsdiffmerge.exe"/>
    <add key="diffCommandArgs" value="${Source} ${Result}"/>
    -->

    <add key="diffCommand" value="C:\Program Files\Microsoft VS Code\Code.exe"/>
    <add key="diffCommandArgs" value="--diff ${Source} ${Result}"/>
    
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
</configuration>
